---
layout: default
---

<style>
  .post-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 49%;
    margin-right: 1%;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .post-box {
      width: 100%;
      margin-right: 0;
    }
  }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <div class="post-list">
      {%- for post in site.posts -%}
      <div class="post-box">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <div class="highlight" style="padding-top: 6px; background: #f2f2f2">
            <div class="mo" style="color: #207c7c; " >
              {{ post.tags | join: ", " | prepend: "Tags: "}}
            </div>
        </div>
      </div>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>
